@use "../custom" as *;
@use "../components/mixins" as *;

.hero {
  position: relative;

  &__description {
    position: absolute;
    top: 20%;
    left: 50%;
    /* transform: translateX(-50%); */
    /*  z-index: 1; */
  }

  &__timer {
    position: absolute;
    right: 0;
    /*  transform: translateX(-5%); */
    bottom: 0;
    @include bg-img("../../assets/img/Slider/", "bg.png");
    width: 33.65%;
    height: 48.4%;
    /* float: left; */
  }
}

.description {
  &__wrapper {
    width: 33.91%;
  }

  &__page-counter {
    color: $button-fonts-accent-color;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    span {
      font-size: 1.125rem;
      font-weight: 600;
      margin-right: 2rem;
    }
  }
  &__icons {
    margin-bottom: 1.5rem;
    line-height: 1;

    @include media-breakpoint-up(xxl) {
      margin-bottom: 3.125rem;
    }

    li {
      display: inline-block;
      border: 0.0625rem solid $button-fonts-accent-color;
      border-radius: 50%;
      overflow: hidden;
      width: 35px;
      height: 35px;
      margin-right: 1.1875rem;
    }

    a {
      display: flex;
      /*     border-radius: 50%; */
      width: 100%;
      height: 100%;
      /* align-items: center; */
      justify-content: center;
      @include my-custom-transition;

      &:hover,
      &:focus {
        background-color: $black;
        border-radius: 50%;
        fill: $white;
      }

      &:active {
        background-color: rgba($black, 0.7);
        border-radius: 50%;
        fill: $white;
      }
    }
  }

  &__text {
    font-family: "Open sans", serif;
    color: $paragraph;
    font-size: 0.75rem;
    line-height: 1.857;
    padding-right: 1.4375rem;
    margin-bottom: 1.2rem;

    @include media-breakpoint-up(xl) {
      margin-bottom: 2rem;
    }

    @include media-breakpoint-up(xxl) {
      margin-bottom: 2.75rem;
      font-size: 0.875rem;
    }
  }
}

.carousel-item img {
  width: 100%;
}

/* .timer {
  &__img {
    width: 36.38%;
  }
}*/

.hero__timer .timer {
  /* position: relative; */

  &__img {
    width: 36.38%;
    height: 100%;
  }
}

.timer {
  display: flex;
  &__special-offer {
    padding: 1.5rem 1rem 2rem 1rem;

    @include media-breakpoint-up(xxl) {
      padding: 2.5rem 2rem 4rem 2rem;
    }

    @media screen AND (min-width: 1900px) {
      padding: 3.375rem 2.5rem 4.0625rem 2.625rem;
    }
  }

  &__product-name {
    color: $white;
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1;

    @include media-breakpoint-up(xxl) {
      font-size: 1.305625rem;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    color: $white;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    @media screen AND (min-width: 1700px) {
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
    @media screen AND (min-width: 1900px) {
      margin-top: 2.3125rem;
      margin-bottom: 4rem;
    }
  }

  &__price-overline {
    font-size: 1.36624rem;
    text-decoration: line-through;
    margin-right: 1rem;
  }

  &__price-actual {
    font-size: 1.5rem;
    margin-right: 2rem;

    @include media-breakpoint-up(xl) {
      font-size: 2rem;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 2.39125rem;
    }

    @media screen AND (min-width: 1700px) {
      margin-right: 3.125rem;
    }
  }
}

.countdown {
  gap: 1.25rem;
  justify-content: space-between;
  &__hours-min-sec {
    background-color: $white;
    font-weight: 600;
  }

  &__hours-min-sec {
    color: $main-heading-font-color;

    border-radius: 1.25rem;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 5rem;

    @include media-breakpoint-up(xxl) {
      width: 4.5rem;
      height: 5.5rem;
    }

    @media screen AND (min-width: 1700px) {
      width: 5.625rem;
      height: 6.5625rem;
    }
  }

  &__qty {
    font-size: 1.5rem;

    @include media-breakpoint-up(xxl) {
      font-size: 1.8rem;
    }

    @media screen AND (min-width: 1700px) {
      font-size: 2.38875rem;
    }
  }
  &__unit {
    font-size: 0.6rem;
    text-transform: uppercase;

    @include media-breakpoint-up(xxl) {
      font-size: 0.69rem;
    }
  }

  &__dots {
  }
}

.arrows {
  position: absolute;
  top: 19.5%;
  right: 16%;
}

.nav-arrows {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;

  &__next-prev {
    display: flex;
    flex-direction: column;
  }

  &__text {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: $white;
  }

  &__arrow-prev {
    @include bg-img("../../assets/img/Slider/", "Arrow-2.png");
    width: 2.4375rem;
    height: 0.375rem;
  }

  &__arrow-next {
    @include bg-img("../../assets/img/Slider/", "Arrow-1.png");
    width: 2.4375rem;
    height: 0.375rem;
  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.nav-arrows__next-prev {
  @include my-custom-transition;
  &:hover {
    .nav-arrows__text {
      color: black;
    }

    .nav-arrows__arrow-prev {
      @include bg-img("../../assets/img/Slider/", "Arrow-2b.png");
    }
    .nav-arrows__arrow-next {
      @include bg-img("../../assets/img/Slider/", "Arrow-1b.png");
    }
  }
}
