@use "../custom" as *;

.subscribe-newsletter {
  margin-top: 3rem;
  margin-bottom: 3rem;

  @include media-breakpoint-up(md) {
    margin-top: 5.625rem;
    margin-bottom: 6.5rem;
  }
}

.subscribe-background {
  background-color: $newsletter-background-color;
}

.image-wrapper-subscribe {
  height: 15.625rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.cta {
  color: $dark-accent-color;
  font-size: 0.875rem;
  letter-spacing: 0;

  @include media-breakpoint-up(md) {
    font-size: 1.01rem;
    letter-spacing: 0.3rem;
  }
}
