@use "../custom" as *;
@use "mixins" as *;

.prev-icon {
  @include bg-img("../../assets/img/Blogs-and-News/", "Icon-1.png");
  width: 3rem;
  height: 3rem;
}

.next-icon {
  @include bg-img("../../assets/img/Blogs-and-News/", "Icon-2.png");
  width: 3rem;
  height: 3rem;
}

.btn-edit {
  font-size: 0.75rem;
  @include my-custom-transition;

  @include media-breakpoint-up(md) {
    font-size: 0.89rem;
  }

  &--product-types {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;

    @include media-breakpoint-up(xl) {
      font-size: 0.8125rem;
      padding: 1.5625rem 2.375rem;
    }
  }

  &--offers {
    font-size: 0.6875rem;
    padding: 1rem 1.2rem;
    border: none;
    letter-spacing: 0.1rem;

    @include media-breakpoint-up(lg) {
      padding: 1.624rem 1.9375rem;
      font-size: 0.75rem;
      letter-spacing: 0.2rem;
    }
  }

  &--special-offer {
    font-size: 0.5rem;
    color: $button-txt-color;
    background-color: $timer-btn-color;
    padding: 0.6rem 0.8rem;

    @include my-custom-transition;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($timer-btn-color, 15%) !important;
    }

    @include media-breakpoint-up(md) {
      padding: 0.8rem 1.2rem;
    }

    @include media-breakpoint-up(xxl) {
      padding: 1rem 1.5rem;
    }

    /* @media screen AND (min-width: 1600px) {
      padding: 1rem 1.5rem;
    } */

    @media screen AND (min-width: 1800px) {
      padding: 1.1875rem 1.9375rem;
    }
  }
  &--offers-main {
    font-size: 0.5369rem;
    padding: 0.5rem 1.4rem;

    @include media-breakpoint-up(lg) {
      /*  font-size: 0.5369rem; */
      padding: 1rem 1.875rem;
    }

    &:hover {
      background-color: rgba($primary, 0.85);
      border: none;
    }
  }
}

.custom-btn {
  margin-top: 1.875rem;
  padding: 1rem 1.4rem;
  text-transform: uppercase;
  border: 0.125rem solid $button-border-color;
  font-size: 0.7rem;
  color: $dark-accent-color;
  @include my-custom-transition;

  @include media-breakpoint-up(lg) {
    margin-top: 2.875rem;
    padding: 1.4375rem 2.8125rem;
    font-size: 0.75rem;
  }

  &:hover {
    background-color: rgba($button-border-color, 0.3);
    border-color: darken($button-border-color, 20);
    color: darken($button-border-color, 50);
  }

  /* &:active,
  &:focus {
    background-color: darken($button-border-color, 15);
    color: $white;
    box-shadow: none;
    outline: none;
  } */
}

.navbar-toggler:focus {
  box-shadow: none;
}

.next-prev-buttons {
  &--slider {
    border: none;
    padding: 0;
    /*  font-size: 120px; */
    &:hover,
    &:active,
    &:focus {
      border: none;
      outline: none;
    }
  }
}
