@use "../custom" as *;

//STYLE LOGO FOR THE HEADER AND THE FOOTER SECTIONS
.logo {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;

  &__name {
    font-weight: 800;

    font-size: 1.77rem;
  }

  &__tagName {
    font-size: 0.75rem;
  }
}

/* SECTION HEADINGS STYLE */
.section-heading {
  font-size: 1.25rem;
  color: $main-heading-font-color;

  @include media-breakpoint-up(md) {
    font-size: 1.625rem;
  }

  &--offers {
    font-size: 1rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.25rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.625rem;
    }
  }

  &--accent {
    color: $white;
    font-weight: 800;
    font-size: 1.5rem;

    @media screen AND (min-width: 1600px) {
      font-size: 2rem;
    }

    @media screen AND (min-width: 1900px) {
      font-size: 2.35375rem;
    }
  }
}

.main-heading {
  font-size: 4.2rem;

  @include media-breakpoint-up(xl) {
    font-size: 4.8rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 5.6rem;
  }

  @media screen AND (min-width: 1700px) {
    font-size: 7rem;
  }

  @media screen AND (min-width: 1900px) {
    font-size: 7.29625rem;
  }

  color: $button-fonts-accent-color;
}
