@use "../custom" as *;

//STYLE LOGO FOR THE HEADER AND THE FOOTER SECTIONS
.logo {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;

  &__name {
    font-weight: 800;

    font-size: 1.77rem;
  }

  &__tagName {
    font-size: 0.75rem;
  }
}

/* SECTION HEADINGS STYLE */
.section-heading {
  font-size: 1.25rem;
  color: $main-heading-font-color;

  @include media-breakpoint-up(md) {
    font-size: 1.625rem;
  }
}
